{{template "pageHead" .}}
<body>
	<!-- 设置导航条 -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">我的博客</a>
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li class="active"><a href="/category">分类</a></li>
                <li><a href="/article_list">文章</a></li>
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right">
                {{if .IsLogin}}
                <li><a href="/login?isExit=true">退出</a></li>
                <li><a href="/login">退出</a></li>
                {{else}}
                <li><a href="/login">管理员登录</a></li>
                {{end}}
            </ul> -->
        </div>
    </nav>
	<div class="container">
        <div class="page-header"></div>
		<form method="GET" action="/category">
		  	<div class="form-group">
			    <label><h2>新增文章分类</h2></label>
			    <input class="form-control" name = "category_name">
			    <input type="hidden" name = "op" value="AddCategory">
		  	</div>
		  	<button type="submit" class="btn btn-default">Add</button>
		</form>
		{{if .showCategory}}
        <h1>分类列表</h1>
        <table class="table table-hover">
        	<thead> 
        		<tr>
        			<th>文章类型</th>
        			<th>创建时间</th>
        			<th>数量</th>
        			<th>操作</th>
        		</tr>
        	</thead>
        	<tbody>
        		{{range .categories}}
        		<tr onclick="onShowArticies({{.Id}})">
        			<th>{{.Title}}</th>
        			<th>{{.Created}}</th>
        			<th>{{.ArticleCount}}</th>
        			<th><a href="/category?op=DeleteCategory&id={{.Id}}">删除</a></th>
        		</tr>
        		{{end}}
        	</tbody>
		</table>
		{{end}}
	</div>
	<script type="text/javascript">
		function onShowArticies(id)
		{
			// 发送给/category查询article
			location.href="/category?id="+id
		}
	</script>
</body>
</html>