<!DOCTYPE html>
<html>
<head>
	<!-- <meta charset="utf-8"> -->
	<title>xxx blog</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- UIkit CSS -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.15/css/uikit.min.css" /> -->

	<!-- UIkit JS -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.15/js/uikit.min.js"></script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.15/js/uikit-icons.min.js"></script> -->

	<!-- bootstrap -->
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
	<!-- top navBar -->
	<div class="navbar navbar-inverse navbar-fixed-top ">
		<!-- logo -->
	    <div class="container-fluid navbar-left">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">Brand</a>
		    </div>
	    </div>

		<div class="container-fluid navbar-left">
			<div class="container">
			    <!-- Collect the nav links, forms, and other content for toggling -->
				<div class="col-md-2"></div>
			    <ul class="nav navbar-nav navbar-left col-md-8">
			        <li class="active"><a href="#">home </a></li>
			        <li><a href="#">categories</a></li>
			        <li><a href="#">articlies</a></li>
			    </ul>
			    <ul class="nav navbar-nav navbar-right col-md-2">
			        <li><a href="/login">login</a></li>
			        <li><a href="#">register</a></li>
			    </ul>
			</div>
		</div><!-- /.container-fluid -->
	</div>

	<div class="container fix-content">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<br>
			<span class="label label-default">Default</span>
			<span class="label label-primary">Primary</span>
			<span class="label label-success">Success</span>
			<span class="label label-info">Info</span>
			<span class="label label-warning">Warning</span>
			<span class="label label-danger">Danger</span>
			<br>
			<br>
			<div class="jumbotron">
首先，给大家普及一下，T4的程序员是什么标准。T4的技术专家一方面在自己的技术领域有着开创性的贡献，另一方面大多主导过公司级的重点技术项目，再者为公司培养了一批T3或者以上的技术骨干。

看帖子明显公司是不想招大龄的程序员，及时是有技术有经验，公司也没有任用，同时，楼主也在担心以后自己是不是也会因为年龄。而被国企公司开除。

不少网友都在为此抱打不平。说"程序员的青春都比小姐短吗？32岁的程序员才是最给力的时候，如果这个人能力强，就不应该受年龄的限制""中国式思维，看人用年龄做参考"

作者：IT智云编程
链接：https://www.jianshu.com/p/272fc253b964
來源：简书
简书著作权归作者所有，任何形式的转载都请联系作者获得授权并注明出处。
看帖子明显公司是不想招大龄的程序员，及时是有技术有经验，公司也没有任用，同时，楼主也在担心以后自己是不是也会因为年龄。而被国企公司开除。

不少网友都在为此抱打不平。说"程序员的青春都比小姐短吗？32岁的程序员才是最给力的时候，如果这个人能力强，就不应该受年龄的限制""中国式思维，看人用年龄做参考"

作者：IT智云编程
链接：https://www.jianshu.com/p/272fc253b964
來源：简书
简书著作权归作者所有，任何形式的转载都请联系作者获得授权并注明出处。
			</div>
			<div class="jumbotron">
				<a href=""><img src="/static/img/tx.png" alt="..." class="img-circle img-xsm"></a>
				<button type="button" class="btn btn-success">（成功）Success</button>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
	<hr>
	<div class="container bottom-info">
		copyright@AbnerTan 2018.03.04
	</div>
</body>
</html>
