<!-- content -->
	<div class="fix-content">
		<div class="container col-md-3 bgcolor-left">
			<h2>navbar</h2>
			<button type="button" class="btn btn-default" aria-label="Left Align">
			  <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
			</button>
		</div>
		<div class="container col-md-6">
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
		</div>
		<div class="container col-md-3">
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
			file  content ..........
		</div>
	</div>
	<!-- bottom-->

    <div class="main_nav_bottom">
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container" align="center">
                    <style>
                        .nav-tabs
                        {
                            text-align: center;
                            height: 40px;
                            line-height: 40px;
                        }
                    </style>
                    <ul class="nav nav-tabs nav-tabs-justified">
                        <div class="row" align="center">
                            <div class="col-md-4 col-sm-4 col-xs-4" align="center"><li><a href="#"></a></li></div>
                            <div class="col-md-4 col-sm-4 col-xs-4" align="center"><li><a href="#">copyright@AbnerTan</a></li></div>
                            <div class="col-md-4 col-sm-4 col-xs-4" align="center"><li><a href="#"></a></li></div>
                        </div>
                    </ul>
                </div>
            </nav>
        </div>  